<ion-content class="ion-padding">
  <div class="connexion-title">
    <h5><b>CONNECTER VOUS</b></h5>
    <div class="rectangle"></div>
  </div>
  <div class="form">
    <form action="">
      <div class="input-text">
        <h6><b>Adresse email</b></h6>
        <input type="text" placeholder="Votre adresse email">
      </div>
      <div class="input-text">
        <h6><b>Mot de passe</b></h6>
        <input type="password" placeholder="Votre mot de passe">
      </div>
      <div class="mot-de-passe-oublie">
        <span>Mot de passe oublié?</span>
      </div>
    </form>
    <div class="btn-connexion">
      <ion-button expand="block">CONNEXION</ion-button>
    </div>
    <div class="btn-google">
      <ion-button expand="block">
        <img src="../../assets/logo.png">&nbsp;&nbsp;
        Connectez-vous avec Google
      </ion-button>
    </div>
    <div class="footer" routerLink="/inscription">
      <h6>Vous n'avez pas de compte? Inscrivez-vous</h6>
    </div>
  </div>
</ion-content>
